{% extends "notebook_app/main.html" %}

{% block content %}

<header>
    <h1>About the project</h1>
</header>
    <p>Hi, my name is Pablo. This is my first complete project writing in Python/Django. I guess you would like using it.</p>
    <p>As I doesn't have much experience with CSS, and I really doesn't into it,
        I used CSS framework <a href="https://andybrewer.github.io/mvp/" target="_blank">MPV.CSS</a>. I would really appreciate if you visit this site.</p>
    <p>Also in the end of the page you can find link to my GitHub profile, where you can download files to
    power my site on your pc.</p>
    <p>Thanks to visiting:)</p>

{% endblock %}