{% extends "notebook_app/main.html" %}

{% block content %}
    <header>
        <h1>Personal Notebook</h1>
        <p>Check your thoughts the other day</p>
    </header>
    {% for note in notes %}

        <aside>
            <h2>
                <a href="{% url 'note-detail' note.pk %}">{{ note.title|truncatechars:20 }}</a>
            </h2>
            <small>Created: {{ note.date_added|date:'d.m G:i' }}</small><br>
            <small>Last Modified: {{ note.last_modified|date:'d.m G:i' }}</small>
            <p>{{ note.content|truncatewords:15 }}</p>
        </aside>
    {% endfor %}

{% endblock %}